/* 
font-family: 'Lato', sans-serif;
font-family: 'Shadows Into Light', cursive;
font-family: 'Cinzel', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
*/

body, html{
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    margin:0;
    padding:0;

}
.row{
    padding-right: 0!important;
    padding-left: 0!important;
}
.container-fluid {
    padding-right: 0!important;
    padding-left: 0!important;
    margin-right: -15px!important;
}


  /* -------------------------------------------------------------------------------------------------------------------------------------- */
 /* navbar */
 .navbar-inverse{
    background-color: transparent!important;
    border:none!important;
  
 }
 .navbar-inverse .navbar-nav>li {
    color: white!important;
}
.navbar-inverse .navbar-nav>li:hover {
    color: black!important;
}
 .opaque-navbar {
  /* Transparent = rgba(0,0,0,0) / Translucent = (0,0,0,0.5)  */
  height: 110px!important;
    border-bottom: 0px;
    transition: background-color .6s ease 0s;
}

.opaque-navbar.opaque {
    background-color: black!important;
    height: 110px!important;
    transition: background-color .6s ease 0s;
}


ul.dropdown-menu {
    background-color: black;
}


@media (max-width: 992px) {
  .opaque-navbar {
    background-color: black;
    height: 110px!important;
    transition: background-color .6s ease 0s;
}

}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: transparent!important;
 
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: -60px!important;
}
@media(max-width: 600px){
    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        margin-left: 50px!important;
    }

}
.navbar-inverse .navbar-nav>li>a:hover {
    color: black!important;
}
.glyphicon:hover{
    color: black!important;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------- */
#mainscreen{
    background-image: url("../images/liquor10.jpg");
    height: 625px;
    background-size: cover;
    text-align: center;
    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .aboutmain{
      font-size: 4rem;
      font-family: 'Cinzel', serif;
      text-align: center;
      margin-top:50px;


  }

  @media screen and (max-width: 600px) {
    .aboutmain {
      font-size: 2rem;
    }
  }

  .aboutdes{
    max-width: 600px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.7rem;
    text-align: center;
    margin:10px auto;
  }
  .brand{
    text-align: center;
  }
  .brandlogo{
    text-align: center;
    margin:10px auto;
    max-width:450px;
    max-height: 450px;
  }

  .brandlogo:hover{
    box-shadow:
    1px 1px #53a7ea,
    2px 2px #53a7ea,
    3px 3px #53a7ea;
-webkit-transform: translateX(-7px);
transform: translateX(-7px);
  }
  @media(max-width:600px){
    .brandlogo{
        max-width:200px;
        max-height: 200px;
    }
  }
  .brandlogo:hover{
      color: rgba(144, 180, 148, 0.4);
  }

  /* text effect */
  @keyframes topFadeOut {
    0% {
      position: absolute;
      top: -3rem;
      opacity: 0;
    }
  
    75% {
      position: absolute;
      top: 25%;
      opacity: 1;
    }
  
    100% {
      opacity: 0;
    }
  }
  
  @keyframes bottomFadeOut {
    0% {
      position: absolute;
      bottom: -5rem;
      opacity: 0;
    }
  
    75% {
      position: absolute;
      bottom: 25%;
      opacity: 1;
    }
  
    100% {
      opacity: 0;
    }
    
  }
  
  @keyframes topFadeOutVertical {
    0% {
      position: absolute;
      top: -3rem;
      opacity: 0;
    }
  
    75% {
      position: absolute;
      top: 45%;
      opacity: 1;
    }
  
    100% {
      opacity: 0;
    }
  }
  
  @keyframes rightFadeInOut {
    0% {
      position: absolute;
      right: -3rem;
      opacity: 0;
    }
  
    75% {
      position: absolute;
      right: 10rem;
      opacity: 1;
    }
  
    100% {
      opacity: 0;
      right: 10rem;
    }
  }
  
  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }
  
    45% {
      opacity: 1;
    }
  
    100% {
      opacity: 0%;
    }
  }
  @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  .aboutmain {
    animation-name: fadeIn;
    /* animation-delay: 1.5s; */
    animation-duration: 6s;
    /* transition: fadeIn .5s ease 0s; */
  }  

  /* modal */
  .modal {
    position: absolute;
}
.modal-lg{
  /* max-width: 1200px!important; */
  height: 200px;
}
.modal-content{
 position: absolute;
 top: 45px;
 height: 100px!important;
 text-align: center;
}

.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: 0!important;
}
/* login modal */

.modal-login {
  color: #636363;
  width: 350px;
}
.modal-login .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
}
.modal-login .modal-header {
  border-bottom: none;
  position: relative;
  justify-content: center;
}
.modal-login h4 {
  text-align: center;
  font-size: 26px;
}
.modal-login  .form-group {
  position: relative;
}
.modal-login i {
  position: absolute;
  left: 13px;
  top: 11px;
  font-size: 18px;
}
.modal-login .form-control {
  padding-left: 40px;
}
.modal-login .form-control:focus {
  border-color: rgba(48, 43, 41,1);

}
.modal-login .form-control, .modal-login .btn {
  min-height: 40px;
  border-radius: 3px; 
      transition: all 0.5s;
}
.modal-login .close {
      position: absolute;
  top: -5px;
  right: -5px;
}
  .modal-login input[type="checkbox"] {
      margin-top: 1px;
  }
  .modal-login .forgot-link {
      color: #12b5e5;
      float: right;
  }
.modal-login .btn {
  background: rgba(224, 184, 65, 1);
  border: none;
  line-height: normal;
}
.modal-login .btn:hover, .modal-login .btn:focus {
  background: rgba(244, 232, 117, 1);
}
.modal-login .modal-footer {
  color: #999;
  border: none;
  text-align: center;
  border-radius: 5px;
  font-size: 13px;
   margin-top: -20px;
  justify-content: center;
}
.modal-login .modal-footer a {
  color: rgba(48, 43, 41,1);
}
.trigger-btn {
  display: inline-block;
  margin: 10px 10px;
}

/* =-------------------------------- */