/* 
font-family: 'Lato', sans-serif;
font-family: 'Shadows Into Light', cursive;
font-family: 'Cinzel', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;
*/

body, html{
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    margin:0;
    padding:0;

}
.row{
    padding-right: 0!important;
    padding-left: 0!important;
}

  /* -------------------------------------------------------------------------------------------------------------------------------------- */
 /* navbar */
.navbar-inverse{
    background-color: transparent!important;
    border:none!important;
 }
.navbar-inverse .navbar-nav>li {
    color: white!important;
    width: 120px;
    text-align: center;
}
#navMain.li{
  margin: 0 auto!important;
}
 @media(max-width:992px){
  .navbar-inverse .navbar-nav>li {
    color: white!important;
    background-color: rgba(124, 99, 84, 0.8);
    text-align: center;
    padding: 10px;
    width: 100%;
}
  .navbar-inverse .navbar-nav>li>a {
      margin-bottom: 5px;
      /* font-size: 20px!important; */
  }
  #firstcol{
    margin-top:12px;
  }
}
.navbar-inverse .navbar-nav>li:hover {
    /* color: black!important; */
}
.opaque-navbar {
  /* Transparent = rgba(0,0,0,0) / Translucent = (0,0,0,0.5)  */
  height: 110px!important;
    border-bottom: 0px;
    transition: background-color .6s ease 0s;
}

.opaque-navbar.opaque {
    background-color: black!important;
    height: 110px!important;
    transition: background-color .6s ease 0s;
    color: white!important;
}
.navbar-toggler{
border: 1px solid white!important;
position: absolute;
right: 45px;
top: 15px;
}
.navbar-toggler:focus{
  /* background-color: black; */
  color: white;
}

ul.dropdown-menu {
    background-color: black;
}


@media (max-width: 800px) {
  .opaque-navbar {
    background-color: black;
    height: 110px!important;
    transition: background-color .6s ease 0s;
  }
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    /* background-color: transparent!important; */
}

.navbar li a {
    text-decoration: none;
  }

@media(max-width: 992px){
    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        margin-right: 250px;
    }
}
@media(max-width: 600px){
  .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
      margin-right: 200px;
  }
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: black!important;
}
.fas:hover{
    color: black!important;
}
/* header2 related css */
.header2li{
  color: black!important;
} 
.opaque-navbar.opaque .header2li{
  color: white!important;
}

.iconarea {
  color: white;
}

.iconarea2{
  color: black;
}
.opaque-navbar.opaque .iconarea2{
  color: white!important;
}


/* header modal CSS */
/* serch modal css */
  /* modal */
 .modal {
    position: absolute;
}
.modal-lg{
  max-width: 1200px!important;
  text-align: center;
  /* height: 200px; */
}
.modal-content{
 /* position: absolute; */
 top: 45px;
 /* height: 100px!important; */
 text-align: center;
}
/* @media(max-with:579px){
  .modal-content{
    height: 180px;
  }
} */
.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: 0!important;
}
/* login modal */

.modal-login {
  color: #636363;
  width: 350px;
}
.modal-login .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
}
.modal-login .modal-header {
  border-bottom: none;
  position: relative;
  justify-content: center;
}
.modal-login h4 {
  text-align: center;
  font-size: 26px;
}
.modal-login  .form-group {
  position: relative;
}
.modal-login i {
  position: absolute;
  left: 13px;
  top: 11px;
  font-size: 18px;
}
.modal-login .form-control {
  padding-left: 40px;
}
.modal-login .form-control:focus {
  border-color: rgba(48, 43, 41,1);

}
.modal-login .form-control, .modal-login .btn {
  min-height: 40px;
  border-radius: 3px; 
      transition: all 0.5s;
}
.modal-login .close {
      position: absolute;
  top: -5px;
  right: -5px;
}
  .modal-login input[type="checkbox"] {
      margin-top: 1px;
  }
  .modal-login .forgot-link {
      color: #12b5e5;
      float: right;
  }
.modal-login .btn {
  background: rgba(224, 184, 65, 1);
  border: none;
  line-height: normal;
}
.modal-login .btn:hover, .modal-login .btn:focus {
  background: rgba(244, 232, 117, 1);
}
.modal-login .modal-footer {
  color: #999;
  border: none;
  text-align: center;
  border-radius: 5px;
  font-size: 13px;
   margin-top: -20px;
  justify-content: center;
}
.modal-login .modal-footer a {
  color: rgba(48, 43, 41,1);
}
.trigger-btn {
  display: inline-block;
  margin: 10px 10px;
}


/* Test CSS for subnavbar ---------------------------------------------------------------------------------------------*/

.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: rgba(217, 221, 146, 1);
  width: 30%;
  height: 95%;
  text-align: center;
  display: flex;        /* Flex layout so items have equal height  */
  flex-flow: row wrap;
  padding: 0!important;
}
/* Style the buttons inside the tab */
.tab button {
  /* display: block; */
  background-color: inherit;
  color: black;
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 15px;
  display: flex;        /* Lay out each item using flex layout */
  flex-flow: column;
  line-height:40px;  
}
.tab button span{
  margin-left: 30px;
  font-family: 'Roboto', sans-serif;
  /* color: white; */
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: rgba(244, 232, 117, 1);
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: rgba(244, 232, 117, 1);
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 10px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 95%;
  font-family: 'Roboto', sans-serif;  
}
/* .modal-lg{
  max-width: 700px!important;
  max-height: 360px!important;
} */
#modalcard{
height: 250px!important;
}
.column {
  float: left;
  width: 50%;
  padding: 10px;
  text-align: left;
}
.column:hover{
  background-color:rgba(244, 232, 117, 1);
}
.column button{
  background-color: transparent;
  border: none;
  color: black!important;
}
.column button a{
  color: black!important;
  font-size: 15px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* test ends ----------------------------------------------------------------------------------------------------------*/
/* ---Indexpage CSS-------------------------------------------------------------------------------------------------------------------------------------- */
#mainscreen{
    background-image: url("../images/liquor10.jpg");
    height: 100vh;
    background-size: cover;
    text-align: center;
    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .aboutmain{
      font-size: 4rem;
      font-family: 'Cinzel', serif;
      text-align: center;
      margin-top:50px;


  }

  @media screen and (max-width: 600px) {
    .aboutmain {
      font-size: 2rem;
    }
  }

  .aboutdes{
    max-width: 600px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.7rem;
    text-align: center;
    margin:10px auto;
  }
  .brand{
    text-align: center;
  }
  .brandlogo{
    text-align: center;
    margin:10px auto;
    max-width:450px;
    max-height: 450px;
  }

  .brandlogo:hover{
    box-shadow:
    1px 1px #53a7ea,
    2px 2px #53a7ea,
    3px 3px #53a7ea;
-webkit-transform: translateX(-7px);
transform: translateX(-7px);
  }
  @media(max-width:600px){
    .brandlogo{
        max-width:200px;
        max-height: 200px;
    }
    .aboutdes{
      font-size:20px;
    }
  }
  .brandlogo:hover{
      color: rgba(144, 180, 148, 0.4);
  }

  /* text effect */
  @keyframes topFadeOut {
    0% {
      position: absolute;
      top: -3rem;
      opacity: 0;
    }
  
    75% {
      position: absolute;
      top: 25%;
      opacity: 1;
    }
  
    100% {
      opacity: 0;
    }
  }
  
  @keyframes bottomFadeOut {
    0% {
      position: absolute;
      bottom: -5rem;
      opacity: 0;
    }
  
    75% {
      position: absolute;
      bottom: 25%;
      opacity: 1;
    }
  
    100% {
      opacity: 0;
    }
    
  }
  
  @keyframes topFadeOutVertical {
    0% {
      position: absolute;
      top: -3rem;
      opacity: 0;
    }
  
    75% {
      position: absolute;
      top: 45%;
      opacity: 1;
    }
  
    100% {
      opacity: 0;
    }
  }
  
  @keyframes rightFadeInOut {
    0% {
      position: absolute;
      right: -3rem;
      opacity: 0;
    }
  
    75% {
      position: absolute;
      right: 10rem;
      opacity: 1;
    }
  
    100% {
      opacity: 0;
      right: 10rem;
    }
  }
  
  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }
  
    45% {
      opacity: 1;
    }
  
    100% {
      opacity: 0%;
    }
  }
  @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  .aboutmain {
    animation-name: fadeIn;
    /* animation-delay: 1.5s; */
    animation-duration: 6s;
    /* transition: fadeIn .5s ease 0s; */
  }  

/* -Contact Us CSS---------------------------------------------------------------------------------------- */
/* contact form */
.contactms{
  font-size: 6rem;
  font-weight: 800;
  color:  #8B0000;
  font-family: 'Lato', sans-serif;
  text-align: center;
  margin-top: 150px;
  animation-name: fadeIn;
  animation-duration: 2s;
}
@media(max-width:700px){
  .contactms{
      font-size: 3rem;
  }
}
.contactdes{
  max-width: 600px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.7rem;
  text-align: center;
  margin:10px auto;
}
.em{
  color:#8B0000;
}
/*  */
.fieldbox{
  text-align: center;
  margin-top: 20px;
  }
  .row{
      text-align: center!important;
  }
  .input2, select{
      background: rgba(244, 232, 117, 0.7);
      border: 1px solid #ececec;
      border-radius: 2px;
      transition: all 1.5s cubic-bezier(.19,1,.22,1);
      /* padding: 20px; */
      font: 12px/1 effra;
      color: #000;
      min-height: 40px;
      width: 100%;
  }
  
  label{
      color:rgba(124, 99, 84, 1);
      font-family: 'Open Sans', sans-serif;
  }
  textarea{
      border: 2px dashed rgba(244, 232, 117, 0.7);
      border-radius: 2px;
      transition: all 1.5s cubic-bezier(.19,1,.22,1);
      font: 12px/1 effra;
      color: #000;
      min-height: 40px;
      width: 100%;
      background-color:#ececec;
  
  }
  
  #resetbutton{
      background-color: white;
      border: 1px solid #8B0000;
      color: #8B0000;
      width: 200px;
      height: 70px;
  }
  #submitbutton{
      background-color: #8B0000;
      border: 1px solid #8B0000;
      width: 200px;
      height: 70px;
  }
  
  #resetbutton:hover{
      background-color: #8B0000;
      border: 1px solid #8B0000;
      color: white;
  }
  #submitbutton:hover{
      background-color: white;
      border: 1px solid #8B0000;
      color: #8B0000;
  }
  /* Register page Css--------------------------------------------------------------------------------------------------- */
  .mySlides {
    display:none;
  
  }
  .content{
     color: rgba(244, 232, 117, 1);
     font-size: 3.5rem;
     font-family: 'Lato', sans-serif;
     font-weight: 900;
     position: absolute;
     z-index: 1;
     top: 20%;
     left: 12%;
  }
  .content2{
     color: rgba(25,25,112);
     font-size: 3.5rem;
     font-family: 'Lato', sans-serif;
     font-weight: 900;
     position: absolute;
     z-index: 1;
     top: 30%;
     left: 10%;
  }
  @media(max-width: 700px){
     .content{
         font-size: 2rem;  
     }
     .content2{
         font-size: 2rem;  
     }
  
  };
  
  /* ---------test product list */



  .product-grid {
    text-align: center;
    width: 50em;
    margin: 2rem auto;
    font-family: 'Montserrat', sans-serif;
  }
  .product-grid.product-grid--flexbox .product-grid__wrapper {
    
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
  .product-grid.product-grid--flexbox .product-grid__title {
    height: auto;
    text-align: center;
    width: 100%;
  }
  .product-grid.product-grid--flexbox .product-grid__title:after {
    display: none;
    text-align: center;
     width: 100%;
  }
  .product-grid__wrapper {
    margin-left: -1rem;
    margin-right: -1rem;
    text-align: center;
  }
  .product-grid__product-wrapper {
    padding: 1rem;
    /* float: left;
    width: 33.33333%; */
    text-align: center;
  }
  .product-grid__product {
    padding: 1rem;
    position: relative;
    cursor: pointer;
    background: #fff;
    border-radius: 4px;
    text-align: center!important;
  }
  .product-grid__product:hover {
    box-shadow: 0px 0px 0px 1px #eee;
    z-index: 50;
  }
  .product-grid__product:hover .product-grid__extend {
    display: block;
    text-align: center;
  }
  .product-grid__img-wrapper {
    width: 100%;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
  }
  .product-grid__img {
    text-align: center;
  }
  .product-grid__title {
    margin-top: .875rem;
    display: block;
    font-size: 1.3em;
    color: #222;
    height: 3em;
    overflow: hidden;
    position: relative;
    text-align: center;
  }
  .product-grid__title:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 2.4em;
    height: 1.5em;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%);
  }
  .product-grid__price {
    color: #E91E63;
    font-weight: bold;
    letter-spacing: .4px;
    text-align: center;
    font-size: 1.3em;
  }

  .product-grid__extend {
    display: none;
    position: absolute;
    padding: 0 1rem 1rem 1rem;
    margin: .4375rem -1rem 0;
    box-shadow: 0px 0px 0px 1px #eee;
    background: #fff;
    border-radius: 0 0 4px 4px;
    width: 100%;
   }
  .product-grid__extend:before {
    content: "";
    height: .875rem;
    width: 100%;
    position: absolute;
    top: -.4375rem;
    left: 0;
    background: #fff;
    text-align: center;
  }

  .product-grid__botton {
    display: inline-block;
    height: 50px;
    margin-top: .875rem;
    margin-right: .425rem;
    margin-left: .425rem;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
  }
  .product-grid__botton i.fa {
    margin-right: .3125rem;
  }
  .product-grid__add-to-cart {
    color: #fff;
    background: #E91E63;
    font-weight: 600;
  }
  .product-grid__add-to-cart:hover {
    background: #ee4c83;
  }
  .product-grid__view {
    color: rgb(92, 75, 64);;
    background: #eee;
    font-weight: 600;
    
  }
  .product-grid__view:hover {
    background: white;
  }
  
  /* ------------------- */
  .linkanchor{
    color: black!important;
  }
  .linkanchor:hover, .linkanchor:active{
    color: black!important;
    text-decoration: none;
  }
  /* -------------------------------------------------------- */
    /* ---------index special------------------------- */
  
  .headingforspecial{
    font-size: 3rem;
    font-family: 'Playfair Display', serif;
    margin: 10px auto;
    font-weight: 600;
  }  
